USE [master]
GO
/****** Object:  Database [bectv]    Script Date: 11/14/2020 5:18:41 PM ******/
CREATE DATABASE [bectv]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bectv', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\bectv.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bectv_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\bectv_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bectv].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bectv]
GO
/****** Object:  Table [dbo].[bectv_Copies]    Script Date: 11/14/2020 5:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bectv_Copies](
	[bectv_CopiesID] [int] NOT NULL,
	[bectv_MediaFormat] [nvarchar](250) NOT NULL,
	[bectv_ProgramID] [int] NOT NULL,
 CONSTRAINT [PK_bectv_Copies] PRIMARY KEY CLUSTERED 
(
	[bectv_CopiesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bectv_Disposition]    Script Date: 11/14/2020 5:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bectv_Disposition](
	[bectv_DispositionID] [int] NOT NULL,
	[bectv_Disposition] [nvarchar](100) NOT NULL,
	[bectv_DispositionNotes] [nvarchar](1000) NULL,
	[bectv_CopiesID] [int] NOT NULL,
	[bectv_UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_bectv_Disposition] PRIMARY KEY CLUSTERED 
(
	[bectv_DispositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bectv_Programs]    Script Date: 11/14/2020 5:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bectv_Programs](
	[bectv_ProgramID] [int] NOT NULL,
	[bectv_ProgramName] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_bectv_Programs] PRIMARY KEY CLUSTERED 
(
	[bectv_ProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bectv_Copies]  WITH CHECK ADD  CONSTRAINT [FK_bectv_Programs_bectv_Copies] FOREIGN KEY([bectv_ProgramID])
REFERENCES [dbo].[bectv_Programs] ([bectv_ProgramID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bectv_Copies] CHECK CONSTRAINT [FK_bectv_Programs_bectv_Copies]
GO
ALTER TABLE [dbo].[bectv_Disposition]  WITH CHECK ADD  CONSTRAINT [FK_bectv_Copies_bectv_Disposition] FOREIGN KEY([bectv_CopiesID])
REFERENCES [dbo].[bectv_Copies] ([bectv_CopiesID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bectv_Disposition] CHECK CONSTRAINT [FK_bectv_Copies_bectv_Disposition]
GO
USE [master]
GO
